.background {
    background-image: url("bgk-header.png");
    min-height: 500px;
  }
  
  .logo {
    background-image: url(logo.png);
    display: block;
    height: 50px;
    width: 45px;
    float:left;
  }
  
  h3 {
    color: rgb(22, 160, 153);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: lighter;
  }
  
  h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
    font-weight: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bolder;
  }
  
  nav > a {
    color: rgb(240, 240, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* The navbar container */
  .topnav {
    overflow: hidden;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  #home {
    color: rgb(81, 226, 219);
  }
  
  
  #hero-section {
    margin: 0 auto;
    max-width: 50em;
    display: flex;
    align-items: center;
  }
  
  #hero-section {
    text-align: center;
  }
  
  h1 {
    color: rgb(240, 240, 252);
  }
  
  #hero-section > p {
    color: rgb(248, 248, 252);
  }
  
  
  .logo-big {
    background-image: url(logo-big.png);
    display: block;
    height: 230px;
    width: 235px;
    float:left;
    
  }
  
  button {
    color: rgb(81, 226, 219);
  }
  
  button {
    border: 1px solid rgb(81, 226, 219);
    outline-style: solid;
    outline-color: rgb(81, 226, 219);
    outline-width: thin;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
  }
  
  footer{
    /* display: flex; */
    padding: 10%;
    height: 200px;
    background-image: url("./images/bgk-footer.png");
    background-size: cover;
    background-position: left;
    background-attachment:local;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  .footer-container {
    display: grid;
    height: 300px;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1;
    font-size: 1rem;
  }
  
  .Foot-Left {
    grid-column:1;
    grid-row:1;
  }

  .Foot-mid {
    grid-column:2;
    grid-row:1;
    margin-left: 35px; 
    margin-right: 35px; 
  }

  .Foot-right {
    grid-column:3;
    grid-row:1;
  }

  .Foot-logoarea > p {
    display: flex;
    color: teal;
    font-size: 2rem;
    font-weight:lighter;
    font-family: roboto, sans-serif; 
    margin-top: 0px;
  }

  .Foot-nav {
    display: flex;
    width: 100%;
  }
  
  .Foot-nav a:link {
    color: white;
    font-size: 0.8rem;
    font-family: inherit;
    text-decoration-line: none;
  }

  .Foot-nav a:visited {
    color:beige;
    font-size: 0.8rem;
    font-family: inherit;
    text-decoration-line: none;
  }
  