* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn1 {
  border: 0px solid rgb(81, 226, 219);
  outline-style: solid;
  outline-color: rgb(81, 226, 219);
  color: rgb(81, 226, 219);
  font-family: "Hammersmith One", sans-serif;
  outline-width: thin;
  background: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  width: 120px;
  height: 40px;
}
/* =======================================================
   NAVIGATION
   ======================================================= */
header {
  width: 100%;
  height: 670px;
  background-image: url("./images/bgk-header.png");
  background-size: cover;
}
#top-bar {
  width: 100%;
  height: 10%;
  display: flex;
  padding-top: 0.7em;
}
#top-bar section {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  padding-left: 10em;
}
.logo {
  background-image: url(./images/png/logo.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 45px;
}
.logo-text {
  color: rgb(22, 160, 153);
  font-size: 30px;
  font-weight: 250;
  font-family: "Roboto", sans-serif;
  margin-left: 1rem;
}
nav {
  width: 60%;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bolder;
}
nav li a {
  color: rgb(240, 240, 252);
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-decoration: none;
  margin: 14px 13px;
}
.active {
  color: rgb(22, 160, 153);
}
#hero-section {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#hero-section h1 {
  margin: 10rem 0rem 1.5rem 0rem;
  font-family: "Playfair Display", serif;
  font-size: 32px;
}
#hero-section .line {
  margin: 0rem 0rem 1.5rem 0rem;
}
#hero-section p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 70%;
  margin: 0rem 0rem 3rem 0rem;
  color: rgb(240, 240, 252);
}
.line {
  width: 50px;
  height: 1px;
  background-color: rgb(81, 226, 219);
}
#home {
  color: rgb(81, 226, 219);
}

#hero-section h1 {
  color: rgb(240, 240, 252);
}

#hero-section > p {
  color: rgb(248, 248, 252);
}

/* =======================================================
   OUR STORY
   ======================================================= */
#our_story-section {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our_story-logo {
  margin-right: 6.5em;
}
.our_story-text h2 {
  font-size: 22px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 700;
  font-family: "Playfair Display";
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-start;
  padding-top: 0;
}
.our_story-text p {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto";
  margin-bottom: 1em;
}
.our_story-text button {
  margin-top: 0.7em;
}

/* =======================================================
   WATCH SECTION
   ======================================================= */
#watch-section {
  background-image: url("./images/bgk-middle.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
}
#watch-section img {
  max-width: 100px;
}
#watch-section h2 {
  color: white;
  padding-top: 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  padding-top: 2em;
}

/* =======================================================
  TEAM
   ======================================================= */
   #team-section {
    height: 713px;
    background-image: url(images/bgk-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;        
  }

  #team-section > #head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


   #team-section h2 {
  display: flex;
  justify-content: center;
  text-align: center;
 margin-top: 1em;
 width: 460px;
height: 34px;
font-size: 22px;
letter-spacing: 1px;
color: #ffffff;
font-weight: 700;
font-family: "Playfair Display";
}

#team-section p {
  font-size: 1em;
  /* display: flex;
  justify-content: center; */
  color: white;
}

.grid {
  display: grid;
   grid-gap: 1rem;
  display: flex;
   justify-content: space-around;
  align-items: center;

  padding-bottom: 3em;  
  margin-left: 15em;
  margin-right:15em;
}

.grid-item {
  border-radius: 0.1rem;
  overflow: hidden;
    width: 100%;
  height: 308px;
}

.card-img {
  width: 100%;
  height: 15rem; 
  margin-bottom: 0em;
}

card {
  width: 220px;
  height: 229px;
  
}

.card-content{
  border: 0.5px solid rgb(248, 245, 244);
  margin-top: 0em;
  
}


.card-text1 {
  width: 220px;
height: 14px;
font-size: 14px;
letter-spacing: 1px;
color: #ffffff;
font-weight: 900;
font-family: "Roboto";
text-align: center;
}

.card-text2 {
  width: 220px;
  height: 17px;
  font-size: 13px;
  color: #fafafa;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
}



#team-section #hr {
  display: flex;
  justify-content: center;
  width: 25em;
}

.team-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.team-bottom p{
width: 455px;
height: 24px;
font-size: 14px;
letter-spacing: 1px;
color: #f3f3f3;
font-weight: 300;
font-family: "Roboto";
text-align: center;
}

.team-bottom> .card-btn {width: 460px;
height: 20px;
font-size: 16px;
color: #00e0d0;
font-weight: 400;
font-family: "Hammersmith One";
text-align: center;
width: 20%;
height:50px;
padding: 4.5rem,0.5rem,0.5rem,2.5rem;
}  

